* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: Arial, Helvetica, sans-serif;
perspective: 700px;}
.container-header{width: 100%;
background-color: white;}

.content-header{
    width: 80%;
    margin: auto;
overflow: auto;
}
.image-header{
   width: 190px;
   float: left;

}
table{
    position: absolute;
    width: 450px;
    border: 2px solid rebeccapurple;
    padding: 15px;
    background-color: #f2f2f4;
    margin-top: 15px;
    opacity: 0;
visibility: hidden;
z-index:5;
transform: scale(0);
transition: all 0.5s;}
.home:hover table{opacity: 1;
visibility: visible;
transform: scale(1,1);}

.ul-header li{position: relative;}
.ul-header li a:before{
    content: "";
    position: absolute;
    transition: 0.4s;
     top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #561e1e;
    border-width: 0 2px;
    transform: scale(1,0);
    /* border-top: 2px solid red;
    border-bottom: 2px solid red;
    transition: 0.3s; */
}

.ul-header li a:hover:before{
width: 97%;
height: 100%;
transform: scale(1,1);
}


.ul-header li a::after{
    content: "";
    position: absolute;
    transition: 0.4s;
     top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #561e1e;
    border-width: 2px 0;
    transform-origin: left;
    transform: scale(0,1);
}

.ul-header li a:hover::after{
width: 100%;
height: 97%;
transform:scale (1,1);
transition-delay: 0.4s ;
}

.ul-header{
   
   float: left;
    margin-top: 50px ;
   margin-left: 150px ; 
   /* text-align: center; */
   font-size: 20px;
   font-weight: 550;
position: relative;
}
.ul-header:hover{
    border:#600000;
    border-radius: 2px solid green;
}

/* .home{border: 2px solid #96775c;
padding: 4px 4px;} */
.ul-header li{ display: inline; margin-left: 5px; }
.ul-header li a{
    color:#96775c ;
    text-decoration: none;
   
}
.icons{  margin-top: 50px ;
    /* margin-right: 10px ; */
    float: right;
}
sub{
    margin:5px;
    font-size: 12px;
    width: 6px;
    height: 10px;
    background-color: #600000;
border-radius: 50%;
outline: 5px solid#561e1e;}
.sp1{ color:#96775c;}
.icons a i{
    color: #96775c;
    /* #ccaf97; */
    display: inline-block; 
    /* margin-left: 10px; */
    font-size: 25px;
}
/* ------------------sec 2-------------------------------- */
.main-container{
    width: 80%;
    margin: auto;
    height: 59vw;
}
.main-header{
    width: 100%;
position: relative;
}
.img-main{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: absolute;
    margin-top: 20px;
}
.main-title{
    position: absolute;
    padding: 30% 30%;
    color: #884001;
    margin: auto;
/* padding-top: 30%;
/* padding-left: 50px ;*/
/* transform: translate(-50%, -50%); */
}
.bt1{
    /* width:50px ;
    height: 50px; */
    background-color: #600000;
    position: absolute;
    margin: 40% 45%;
    border: 2px  solid #600000;
    border-radius:  5px;
    display: block;
}
.bt1 a {
    text-decoration: none;
}
.p-main{
    color: beige;
    padding: 5px 5px; 
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

/* ------------------sec3--------------------- */
.category-upper{
text-align: center;
color: #884001;
font-size: 30px;
font-weight: bold;
}
.underline{
    width: 50px;
    height: 3px;
    border:2px solid #884001;
    border-radius: 20px;
    margin: auto;
    background-color: #600000;
    transition: 0.5s;
   
}

.category-upper:hover  .underline{
    width: 150px;
    visibility: visible; 
     opacity: 1; 
}


 .container-category{
    width: 80%;
    margin: auto;
} 
.content-category{
overflow: auto;
}

.items-category{
    float: left;
    width: 20%;
    padding: 28px 16px;
    margin: auto;
    text-align: center;
}

.mlr{
    margin-top: 5px;
    margin-left: 5%;
}
.xx{padding-left: 10px;
}
.h2-category{padding-top: 15px;
    display: inline;
    color:#600000
}
.h4-category{
    color: rgb(153, 153, 153);
font-size: 14px;}

.items-category .ii {
    width: 40px;
    height: 40px;
    background-color: #600000;
    color: #f2f2f4;
    text-align: center;
    position: absolute;
    line-height: 40px;
    margin-left: 200px;
    transition: 0.3s;
    display: block;
    visibility: hidden; 
     opacity: 0;
}
.items-category:hover .ii{
    visibility: visible; 
     opacity: 1; 
}

/* --------------------------------------sec 4------------------------ */

.discout-countainer{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.discount-items{
    overflow: auto;
    
}
.p-discount
{width: 40%;
    background-color: #f2f2f4;
    float:left;}
.ico{
    font-size: 60px;
    display: inline;
    color: #600000;
    background-color: #f2f2f4;
}
.discount-title{ display: inline;
    background-color: #f2f2f4;}
.discount-pracket{ 
    /* width: 25%; */
    display: inline-block;
    margin-left: 60px;

    font-size: 12px;
    font-weight: 399;
    background-color: #f2f2f4;
}
.discount-paragragh{
    /* width: 40%; */
    /* white-space: nowrap; */
    line-height: 1.5;
    background-color: #f2f2f4;
}

.discount-lines{
   width: 1px;
   height: 1px;
   margin-left: 3px;
   border:1px solid #884001;
    /* border-radius: 20px; */
    /* margin: auto; */
    background-color: #561e1e;
   padding-left: 60px ;
   display:inline-block;
}
.dis-all{ position: relative; width: 30%;  }
.dis-all:hover{ transform: scale(1.2,1.2);transition: 1s;}
.dis-all{
    background-color: #884001;
    background-image: url(../img/alarm.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
     padding-left: 60px ; 
    
    float:left;
    width: 20%;
    height: 250px;
    margin-left: 550px; transition: 1s;
}
.data-discount2{
    background-color: #884001;
    background-image: url(../img/watch.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
     padding-left: 60px ; 
    
    float:left;
    width: 20%;
    height: 250px;
    margin-left: 900px; 
    transition: 1s;
}
.data-discount2:hover{ transform: scale(1.2,1.2);}
.img-title-dis1{
  padding-top: 10px;
color:#600000;
/* position: absolute; */
display: block;
}
.img-title2-dis1{
    /* padding-top: 20px; */
    /* margin-top: 11px; */
/* background-color: #96775c; */
position: absolute;
display: block;
}

/* ---------------------------------sec 5---------------------------- */

.container-roll{margin: auto;
                width: 80%;
                margin-top:100px;
                overflow: auto;
}
.item-roll{float: left;
margin-left: 25px;

border-right: 1px solid #600000;
}
.delivery-icon{
    background-image: url(../img/service-icon.png);
    height:55px;
    background-repeat: no-repeat;
   
}

.icon1{
    background-position: center top;
    transition: 0.5s;
}
.item-roll:hover .icon1{background-position: center -90px;}

.icon2{
    background-position: center -183px;
    transition: 0.5s;
}
.item-roll:hover .icon2{background-position: center -274px;}

.icon3{
    background-position: center -367px;
    transition: 0.5s;
}
.item-roll:hover .icon3{background-position: center -460px;}
.icon4{
    background-position: center -467px;
    transition: 0.5s;
}
.item-roll:hover .icon4{background-position: center -500px;}
.icon4{
    background-position: center -540px;
    transition: 0.5s;
}
.item-roll:hover .icon4{background-position: center -640px;}

.icon5{
    background-position: center -740px;
    transition: 0.5s;
}
.item-roll:hover .icon5{background-position: center -820px;}
.roll-data{
    text-align: center;
}
hr{margin: auto;
width: 80%;}
/* ----------------------sec6--------------------- */
    .product{
        margin-top: 100px;
    }
.container-product{
    width: 80%;
    margin: auto;
    /* margin-top: 30px; */
}
.product-full{overflow: auto;

}
.upper-product,.product-lower{float: left;
    margin-left: 105px;
}
.product-items{overflow: auto;}
  
   .product-ul li{
    color: #561e1e;
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
   }
  
  
   .upper-product, .product-lower,.product-img-front, .img-back{
width:280px;
height:300px;
    }
.upper-product{transform-style: preserve-3d;
position: relative;
transition: 1s;
float: left;

}
.product-lower{margin-top: 300px;margin-left:-280px;} 
.product-img-front, .img-back{
    background-color: #96775c ;
    position: absolute;
    left: 0;
top:0;
}
.product-img-front{
    z-index: 1;
    backface-visibility: hidden;
}
.img-back{
    /* z-index: 0; */
 transform: rotateY(180deg);} 
.product-icons{
    position: absolute;
left: 50%;
top:50%;
transform: translate(-50%,-50%);
/* background-color: #561e1e; */
z-index: 2;

} 
.upper-product:hover{transform: rotatey(180deg);}
/* backface-visibility: hidden; */
/* } */

.product-icons a{
width: 40px;
height: 40px;
/* background-color: #96775c; */
color:#96775c}
/* .ii{float: right;} */

/* .xx{margin-left: 150px;} */
/* .product-lower{ z-index: 10; color:red;display: block; */
    /* margin-top: 350px; */
/* background-color: aqua;} */
.product-data{line-height: 1.5;}
  .product-data i
    {
        color: yellow;
    font-size: 15px;}
    .pro-title{font-size: 18px;}
    .product-subtitle{font-size: 26px;color: #600000;}
/* background-color: #600000;    } */
.ss{
    color:grey;
}